/* Imports */
@import url(default.css);


/* Media Queries */
/* -------------------------------------------------------------------- */

/* Query for small screens */
@media screen and (max-width: 768px) {}

/* Query for medium screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {}

/* Query for large screens */
@media screen and (min-width: 1024px) {
    header {
        height: 100vh;
        width: 100%;
        background-image: url(../images/header-background.avif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--color-white);
        padding: 10px 2%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        z-index: 100;
    }

    nav .logo a {
        color: var(--color-gray);
        color: var(--color-dark-blue);
        text-decoration: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .logo img {
        width: 32px;
    }

    nav .links {
        display: flex;
    }

    nav .links ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }

    nav .links ul {
        display: flex;
    }

    nav .links ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--color-gray);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        transition: 180ms ease-in-out;
        padding: 5px;
    }

    nav .links ul li a:hover {
        color: var(--color-dark-blue);
    }
    nav .links ul li span {
        color: var(--color-gray);
        font-family: var(--font-acrhivo);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 5px;
    }

    nav .links .submenu {
        transition: 180ms ease-in-out;
        display: none;
        position: absolute;
        padding: 15px;
        top: 10vh;
        background-color: var(--color-white);
    }

    nav .links .menu-hover {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .menu-hover img {
        width: 10px;
        margin: 0px 5px;
        margin-bottom: 1px;
        transform: rotate(90deg);
    }

    nav .call {
        display: flex;
    }

    nav .call a {
        background-color: var(--color-blue);
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-white);
        text-decoration: none;
        text-transform: uppercase;
        transition: 200ms ease-in-out;
    }

    nav .call a:hover {
        background-color: var(--color-light-blue);
    }

    nav .call a img {
        width: 25px;
    }

    nav .call a span {
        margin-left: 5px;
    }

    .box {
        position: absolute;
        top: 10%;
        width: 55%;
        margin: 5%;
        background-color: var(--color-white);
        padding: 3%;
    }

    .box p {
        color: var(--color-gray);
    }

    .box .info h1 {
        color: var(--color-gray);
        text-transform: uppercase;
        font-family: var(--font-lato);
        font-size: 2.5rem;
    }

    .box .types {
        display: flex;
        margin: 15px 0px;
    }

    .types .opt {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        border: 1px solid var(--color-blue);
        padding: 15px;
        width: 120px;
        margin: 0px 10px 0px 0px;
        text-transform: uppercase;
    }

    .types .opt label {
        color: var(--color-gray);
    }

    .types .opt input {
        margin: 0px 5px;
    }

    .box .search-box {
        display: flex;
        width: 100%;
    }

    .search-box input {
        width: 100%;
        padding: 12px;
        border: 1px solid var(--color-gray)
    }

    .search-box button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: var(--color-light-gray);
        color: var(--color-blue);
        border: none;
        font-weight: bold;
        cursor: pointer;
    }

    .search-box button:nth-child(3) {
        background-color: var(--color-blue);
        color: var(--color-white);
    }

    .search-box button img {
        width: 25px;
        margin: 0px 5px;
    }




    main {
        padding: 5%;
    }

    main .about {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }

    main .about .title-about {
        width: 50%;
    }

    main .about .title-about h2 {
        color: var(--color-gray);
        text-transform: uppercase;
        font-size: 2rem;
        margin: 15px 0px;
    }

    main .about .image-about img {
        width: 100%;
    }

    main .about .text-about {
        padding: 5%;
        width: 50vw;
    }

    main .about .text-about p {
        font-size: 1.1rem;
        color: var(--color-dark-blue);
        line-height: 28px;
    }

}